@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Delius+Unicase:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --color-color-5: var(--color-5);
  --color-color-4: var(--color-4);
  --color-color-3: var(--color-3);
  --color-color-2: var(--color-2);
  --color-color-1: var(--color-1);
  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  --animate-line-shadow: line-shadow 15s linear infinite;
  --elegant-font: var(----elegant-font);
  --color-color-fd-card: var(----color-fd-card);
  --color-color-fd-background: var(----color-fd-background);
  --color-hu-ring: var(----hu-ring);
  --color-hu-input: var(----hu-input);
  --color-hu-border: var(----hu-border);
  --color-hu-destructive-foreground: var(----hu-destructive-foreground);
  --color-hu-destructive: var(----hu-destructive);
  --color-hu-accent-foreground: var(----hu-accent-foreground);
  --color-hu-accent: var(----hu-accent);
  --color-hu-muted-foreground: var(----hu-muted-foreground);
  --color-hu-muted: var(----hu-muted);
  --color-hu-secondary-foreground: var(----hu-secondary-foreground);
  --color-hu-secondary: var(----hu-secondary);
  --color-hu-primary-foreground: var(----hu-primary-foreground);
  --color-hu-primary: var(----hu-primary);
  --color-hu-card-foreground: var(----hu-card-foreground);
  --color-hu-card: var(----hu-card);
  --color-hu-foreground: var(----hu-foreground);
  --color-hu-background: var(----hu-background);
  --card-radius: var(----card-radius);
  --radius: var(----radius);
  --hu-font-jetbrains: var(----hu-font-jetbrains);
  --hu-font-geist: var(----hu-font-geist);
  --color-color-color-fd-background: var(----color-color-fd-background);
  --color-color-color-fd-card: var(----color-color-fd-card);
  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% -100%;
    }
  }
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.708 0 0);
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
  --elegant-font: "Great Vibes";
  --hu-font-geist: var(--font-geist);
  --hu-font-jetbrains: var(--font-jetbrains-mono);
  --card-radius: 1rem;
  --hu-background: hsl(0, 0%, 100%);
  --hu-foreground: hsl(0, 0%, 14%);
  --hu-card: hsl(0, 0%, 99%);
  --hu-card-foreground: hsl(0, 0%, 14%);
  --hu-primary: hsl(235, 100%, 60%);
  --hu-primary-foreground: hsl(0, 0%, 98%);
  --hu-secondary: hsl(0, 0%, 97%);
  --hu-secondary-foreground: hsl(0, 0%, 20%);
  --hu-muted: hsl(0, 0%, 97%);
  --hu-muted-foreground: hsl(0, 0%, 56%);
  --hu-accent: hsl(0, 0%, 96%);
  --hu-accent-foreground: hsl(0, 0%, 20%);
  --hu-destructive: hsl(9, 96%, 47%);
  --hu-destructive-foreground: hsl(0, 0%, 98%);
  --hu-border: hsl(0, 0%, 92%);
  --hu-input: hsl(0, 0%, 100%);
  --hu-ring: hsl(0, 0%, 71%);
  --color-fd-background: hsl(var(--hu-background));
  --color-fd-card: hsl(var(--hu-background));
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
  --hu-background: hsl(0, 0%, 7%);
  --hu-foreground: hsl(0, 0%, 100%);
  --hu-card: hsl(0, 0%, 9%);
  --hu-card-foreground: hsl(0, 0%, 100%);
  --hu-primary: hsl(235, 100%, 60%);
  --hu-primary-foreground: hsl(0, 0%, 98%);
  --hu-secondary: hsl(0, 0%, 15%);
  --hu-secondary-foreground: hsl(0, 0%, 100%);
  --hu-muted: hsl(0, 0%, 15%);
  --hu-muted-foreground: hsl(0, 0%, 71%);
  --hu-accent: hsl(0, 0%, 15%);
  --hu-accent-foreground: hsl(0, 0%, 100%);
  --hu-destructive: hsl(0, 84%, 50%);
  --hu-destructive-foreground: hsl(0, 0%, 98%);
  --hu-border: 0, 0%, 100%, 10%;
  --hu-input: 0, 0%, 100%, 5%;
  --hu-ring: hsl(0, 0%, 56%);
  --color-fd-background: hsl(var(--hu-background));
  --color-fd-card: hsl(var(--hu-background));
}

.roboto {
  font-family: "Roboto", sans-serif;
}
.nunito {
  font-family: "Nunito Sans", sans-serif;
}
.playWrite {
  font-family: "Playwrite CZ", cursive;
}
.Stack {
  font-family: "Stack Sans Text", sans-serif;
}
.raleWay {
  font-family: "Raleway", sans-serif;
}
.Quicksand {
  font-family: "Quicksand", sans-serif;
}
.Libre {
  font-family: "Libre Baskerville", serif;
}
.Delius {
  font-family: "Delius Unicase", cursive;
}
.Bitter {
  font-family: "Bitter", serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  scroll-behavior: smooth;
}

.word-break {
  word-break: break-word;
  overflow-wrap: break-word;
}
.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Scroll bar umumiy o‘rnatish */
.scroll-custom {
  overflow-y: auto;
}

/* Webkit brauzerlar uchun (Chrome, Edge, Safari) */
.scroll-custom::-webkit-scrollbar {
  width: 8px; /* scroll width */
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent; /* track shaffof */
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #f97316; /* bg-primary o‘rniga rang kiritish mumkin */
  border-radius: 4px; /* burchaklarni yumaloqlash */
}

/* Firefox uchun */
.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: #f97316 transparent; /* thumb va track ranglari */
}

/* scroll uchun */
/* ===== Scrollbar umumiy style ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* orqa fon yo‘q */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* primary rang */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}
